.nav-link {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: .25rem;
}

.nav-link svg path {
  fill: var(--grey);
}

.nav-link span {
  font-family: var(--font1);
  font-size: .7rem;
  color: var(--grey);
}

.nav-link[aria-current] svg path, .nav-link:hover svg path {
  fill: var(--main-color);
}

.nav-link[aria-current] span, .nav-link:hover span {
  color: var(--main-color);
}

@media (min-width: 500px) {

.nav-link {
  width: 5rem;
  padding: 5px 0;
  margin: 0 3px;
  border-radius: 3px;
  background: var(--lightgrey);
  box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  border: 1px solid var(--midgrey);
}

}

@media (min-width: 768px) {

.nav-link {
  width: 4rem;
  padding: 10px 0;
  margin: 3px 0;
}

}
