.action-button {
  display: block;
  min-width: 7rem;
  min-height: 2rem;
  margin: 10px 2px;
  border: none;
  background: var(--main-color);
  filter: brightness(120%);
  border-radius: 3px;
  font-family: var(--font1);
  color: black;
  font-size: .85rem;
  box-shadow: 1px 2px 7px rgba(0,0,0,.2);
  cursor: pointer;
}

.action-button:hover {
  filter: none;
}

.action-button:disabled {
  background: var(--midgrey);
  filter: none;
  cursor: default;
}
