.burger-preview {
--ingsize: 1rem;
position: relative;
display: flex;
flex-direction: column-reverse;
}

.burger-preview.burger-preview--min {
--ingsize: .2rem;
}

.burger-preview.burger-preview--min > *, .burger-preview.burger-preview--min::after, .burger-preview.burger-preview--min::before {
  box-shadow: none;
}

.burger-preview::after {
  content: '';
  display: block;
  width: 70%;
  height: calc(var(--ingsize) * 4);
  background: url('../../assets/builder/bun.jpg');
  margin: 0 auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 .5rem 2rem rgba(255,255,255,.5) inset;
}

.burger-preview::before {
  content: '';
  display: block;
  width: 70%;
  height: calc(var(--ingsize) * 2);
  background: url('../../assets/builder/bun.jpg');
  margin: 0 auto;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: 0 -.5rem 1rem rgba(0,0,0,.2) inset;
}

.burger-preview__seeds {
  position: absolute;
  width: 50%;
  height: calc(2 * var(--ingsize));
  background: url('../../assets/builder/seeds.png');
  background-size: calc(1.4 * var(--ingsize));
  top: calc(1 * var(--ingsize));
  left: 50%;
  transform: translateX(-50%);
  opacity: .5;
  filter: brightness(130%);
}
