.ingredient {
  width: 70%;
  margin: 0 15%;
  border-radius: 1.5rem;
}

.ingredient.pickles {
  height: calc(var(--ingsize) * 1);
  background: url('../../assets/builder/pickles.png');
  margin-top: -3%;
  background-size: contain;
}

.ingredient.onions {
  height: calc(var(--ingsize) * 1.1);
  background: url('../../assets/builder/onions.png');
  margin-top: -2.5%;
  background-size: contain;
}

.ingredient.bacon {
  height: calc(var(--ingsize) * .8);
  background: url('../../assets/builder/bacon.png');
  margin-top: -2%;
  background-size: contain;
}

.ingredient.cheese {
  height: calc(var(--ingsize) * 1);
  background: url('../../assets/builder/cheese.png');
  margin-top: -3%;
  background-size: contain;
}

.ingredient.beef, .ingredient.chicken {
  height: calc(var(--ingsize) * 1.8);
  background: url('../../assets/builder/beef.jpg');
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) inset;
}

.ingredient.chicken {
  background: url('../../assets/builder/chicken.jpg');
}

.ingredient.tomatoes {
  height: calc(var(--ingsize) * 1);
  background: url('../../assets/builder/tomato.png');
  margin-top: -3.5%;
  background-size: contain;
}

.ingredient.lettuce {
  height: calc(var(--ingsize) * 1);
  background: url('../../assets/builder/lettuce.png');
  margin-top: -3%;
  background-size: contain;
}

.ingredient.ketchup {
  height: calc(var(--ingsize) * 1);
  background: url('../../assets/builder/ketchup.png');
  margin-top: -3.5%;
  background-size: contain;
}

.ingredient.mustard {
  height: calc(var(--ingsize) * 1);
  background: url('../../assets/builder/mustard.png');
  margin-top: -3.5%;
  background-size: contain;
}
